<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Parent Template</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">

  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Yay! The Group 17 server is running. POST your JSON requests to /upload</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="https://cse535-group17.herokuapp.com/about">About</a></li>
	          <!--<li><a href="{{ url_for('upload') }}">Upload</a></li>-->
          </ul>
          <ul class="upload">
            <li><a href="https://cse535-group17.herokuapp.com/upload">Upload</a></li>
	          <!--<li><a href="{{ url_for('upload') }}">Upload</a></li>-->
          </ul>
        </nav></strong>
      </div>
    </header>

  </body>
</html>
